S3method(print,SubgroupSearchResults)
import(xml2)
import(foreach)
import(parallel)
import(doParallel)
import(officer)
import(flextable)
import(doRNG)
import(survival)
importFrom(utils, packageVersion)
importFrom(utils, write.csv)
importFrom(Rcpp, evalCpp)
importFrom(stats, model.matrix, predict, quantile)
export(SubgroupSearch)
export(SIDES)
export(GenerateReport)
export(CreateProjectFile)
export(StandardizedSIDESParameters)
export(SIDESAdjP)
export(read_SIDESxml)
export(recode_subgroups)
export(print.SubgroupSearchResults)
useDynLib(rsides, .registration = TRUE)
